<!DOCTYPE html>
<html ng-app="wiki">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon/book-with-a-cd.png" type="image/png">
    <title>Pinterest-like Responsive Grid WIKI</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="js/controller.js"></script>
    <script src="js/wiki.js"></script>

</head>
<body ng-controller="WikiListController">

<!--Navigation Panel -->
<nav class="navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Personal Programming WIKI</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- Search form -->
            <form role="search" class="navbar-form navbar-right">
                <div class="form-group">
                    <!--<span style="color: white; font-size: 1.2em">Wiki Search: </span>-->
                    <span style="color: white; font-size: 1.2em" class="glyphicon glyphicon-search"
                          aria-hidden="true"></span>&nbsp;
                    <input type="text" placeholder="Search..." class="form-control" ng-model="query">
                </div>
            </form>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>
<!-- **********  HEADER   ************** -->
<div class="container">
    <div class="row">
        <h2>My Personal Programming WIKI</h2>
        <hr>
        <div class="clearfix"></div>
        <br>
        <section id="pinBoot">
            <article class="white-panel" ng-repeat="article in articles | filter:query | orderBy:orderProp">
                <img ng-src="{{article.image}}" alt="{{article.image}}">
                <h4><a href="#">{{article.title}}</a></h4>
                <!--<p>{{article.snippet | limitTo : 200 : 0}}</p>-->
                <p>{{article.snippet}}</p>
            </article>
        </section>
        <hr>
    </div>

</div>
</body>
</html>